.twoBackground
{
    background-color: #EEE4DA;	    
    color: #776E65;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.fourBackground
{
    background-color: #EDE0C8;
    color: #776E65;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.eightBackground
{
    background-color: #F2B179;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.sixtheenBackground
{
    background-color: #F59563;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.thirtytwoBackground
{
    background-color: #F67C5F;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.sixtyfourBackground
{
    background-color: #F65E3B;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.OHtwentyeightBackground
{
    background-color: #EDCF72;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.THfiftysixBackground
{
    background-color: #EDCC61;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.FHtwelveBackground
{
    background-color: #EDC850;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 68px;
    line-height: 130px;
    display: block;
}

.TenHtwentyeightBackground
{
    background-color: #EDC53F;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    line-height: 130px;
    display: block;
}

.twentyHfortyeight
{
    background-color: #EDC22E;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    line-height: 130px;
    display: block;
}